# Ignore Jupyter Notebook checkpoints
notebooks/NLP Classification 1.ipynb
notebooks/Sentiment_Analysis.ipynb

# docker
docker

#uv
.venv

# uv package manager
uv.lock
.uv/

#dvc
.dvcignore

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore DVC
.dvcignore/

# uv package manager
uv.lock/
.uv/

#MLflow
mlruns/
logs/

#datasets
data/

#models
src/models/
src/data/

#Reports
reports/

#Visualizations
visualizations/

#Main
main.py
